* {
  font-family: "Barlow Condensed", sans-serif;
}
h1,
h6,
h3 {
  color: #6118b2;
}
h1,
h6,
div.col-sm-4.p-3 {
  text-align: center;
}

h1 {
  display: inline;
}
h3 {
  padding-top: 10px;
}
h5 {
  color: rgb(85, 83, 83);
}
h6 {
  padding: 5px;
}
img {
  display: block;
  margin: 0 auto;
}
.units {
  position: relative;
  top: -16px;
}
.button {
  border: none;
  background-color: #a3d4f7;
  margin-left: 5px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
.link-os {
  padding-left: 10px;
}
.button:hover {
  background-color: white;
  border: 1px solid #6118b2;
}

img#cloudy {
  padding-top: 30px;
}
.input-group.rounded {
  padding-top: 15px;
}
div.container {
  border: 1px solid rgb(230, 200, 161);
  border-radius: 3px;
  margin-top: 100px;
}

input#search-addon {
  justify-content: center;
  margin-left: 15px;
}

div.row.indicators {
  border-bottom: 1px solid rgb(230, 200, 161);
  text-align: center;
  padding: 10px;
}
h6.indicators-img {
  display: inline-block;
}

input.col-sm-9.form-control.rounded {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

span#search-addon {
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

h6:before {
  content: "";
  background-image: url(/images/wind.png);
}

@media (min-width: 1200px) {
  div.container {
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  div.container {
    max-width: 50%;
  }
}
